body {
  background-color: #128c73;
}
nav {
  padding: 0 10%;
  height: 3rem;
  line-height: 3rem;
  display: flex;
  background-color: #fff;
  color: #128c7e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.right-nav {
  margin-left: auto;
}
#holiday-wrapper {
  width: 600px;
  margin: auto;
}
.picked {
  position: relative;
  display: none;
}
#change-date {
  position: absolute;
  top: 0;
  right: 0;
}
.holiday-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#month-picker {
  width: 200px;
  margin: auto;
}
.holiday-list {
  border: 2px solid rgba(0, 0, 0, 0.5);
  height: 100px;
  overflow-y: auto;
  box-shadow: inset 0px 0px 20px rgba(2, 0, 0, 0.5);
}
.holiday-item {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 0.4rem;
  cursor: pointer;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}
.left-item {
  width: 80px;
  height: 80px;
  background-color: #f0134d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #fff;
  margin-right: 1rem;
}